<p class="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @recipe.name %>
</p>

<p>
  <b>Instructions:</b>
  <%= @recipe.instructions %>
</p>

<p>
  <b>Source:</b>
  <%= @recipe.source %>
</p>


<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
